body{
  margin:0;
}

header{
  margin:0;
  padding:0;
  background-image: url("../images/gstore.jpg");
  background-position: center;
  height:400px;
  display: flex;
  justify-content: center;
}

.recipeheader{
  height:100px;
  background-image: url("../images/produce.jpg");
  background-size: cover;
}

.recipenav{
  position:static;
}

header h1{
  margin: auto;
  padding:0;
  font-size:6em;
  text-align:center;
  font-family: Oswald,sans-serif;
}

nav{
  background-color: #B31220;
  display: flex;
  justify-content: center;
  height:50px;
  line-height: 50px;
  position:sticky;
  top:0; 
  width:100%
}

nav a{
  font-size: 2em;
  text-decoration: none;
  margin: 0 10%;
  color:#FFA366;
}

main{
  width:100%;
  display:flex;
  justify-content: center;
}

.about{
  width: 50%;
  text-align: right;
}

.shopper{
  height:600px;
  width:35%;
  object-fit: cover;
  object-position: 30% 0;
  order:2;
}

main h2{
  font-size: 2em;
  margin: 1.5em 2em;
  font-family: Oswald, sans-serif;
}

main p{
  margin: 0 2em;
  padding: 0 0 .5em 0;
  font-family: Lato,sans-serif;
  border-bottom: 1px solid black;
}

main button{
  width: 200px;
  font-size: 2em;
  display:block;
  margin: 1em auto;
  font-family: Oswald, sans-serif;
  background-color: #078C26;
}

#start{
  margin: 1em 0 0 67%;
}

main a{
  text-decoration: none;
}

.choices{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-around;
  width: 90%;
  margin: 1em auto;
  border: 2px solid #078C26;
  border-radius: 5px;
}

.recipe{
  width: 20%;
}

.results{
  display:none;
  justify-content: center;
  width:100%;
}

.selection{
  width: 90%;
  margin: 1em auto;
  border: 2px solid #078C26;
  border-radius: 5px;
  display:flex;
  justify-content: space-around;
  padding: 0 0 2em 0;
}

h3{
  margin: 2em 0 1em 15%;
  font-family: Oswald,sans-serif;
  text-decoration: underline;
  font-size: 2em;
}

h3:first-of-type{
  margin: 0 0 1em 15%;
}

.finalrecipes{
  margin: 1em;
  border: 2px solid #078C26;
  border-radius: 5px;
  width:60%;
}

.list{
  margin: 1em 0 0 0;
  border: 2px solid #078C26;
  border-radius: 5px;
  width:33%;
}

.left, .right{
  width:40%;
}

.selection p{
  border: 0px;
  text-align: left;
  margin: 1em 0 0 .5em;
  font-size: 2em;
  font-family: Oswald, sans-serif;
}

.selection input{
  display:block;
  width:70%;
  margin: .5em 0 0 auto;
  font-size: .8em;
  height:30px;
  box-sizing: border-box;
  border: 1px solid #078C26;
}

select{
  display:block;
  font-size: 1em;
  width:70%;
  margin: .5em 0 0 auto;
  font-family: Oswald, sans-serif;
  border: 1px solid #078C26;
}

.pair{
  width: 100%;
  position:relative;
  margin: 0 0 .2em 30%;
}

.pair p{
  font-size: .9em;
  display: inline;
  margin:0;
  padding:0;
  font-family: Lato, sans-serif;
}

.pair input{
  display: inline;
  position:absolute;
  left:100px;
  margin:0;
  padding:0;
}

#submit{
  display:block;
  margin: 2em auto 0 auto;
}

small{
  font-size:.5em;
  margin: 0 0 0 .5em;
}

.choice{
  width: 22%;
  height:400px;
  border:1px solid black;
  margin:.8em 0;
  text-align:center;
  position:relative;
}

.choice img{
  width:95%;
  height:200px;
  object-fit: cover;
  margin: 1em auto;
  position:absolute;
  top:60px;
  left:5px;
}

.choice h2{
  margin: .2em;
  font-size: 1em;
  font-family: Oswald, sans-serif;
}

.choice p{
  border:0px;
  margin: .5em;
  position:absolute;
  top:360px;
  font-family: Lato, sans-serif;

}

.picked{
  border:2px solid #B31220;
  box-shadow: 8px 8px 5px #FFA366;
}

.finalrecipe{
  display:flex;
  width:95%;
  margin:.5em auto;
  height: 250px;
  justify-content: space-around;
  border-bottom:1px solid black;
}

.finalrecipe img{
  width:30%;
  height:200px;
  margin: auto 0
}

.finalrecipe h2{
  width:35%;
  height:200px;
  margin:auto 0;
  font-family: Oswald, sans-serif;
}

.finalrecipe a{
  width: 20%;
  font-size:1em;
  height:180px;
  display:block;
  margin: auto 0;
  font-family: Lato, sans-serif;

}

.instructions{
  font-size:2.5em;
  font-family: Oswald, sans-serif;
  text-align:center;
  margin: .8em 0 .3em 0;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
  display:none;
}

#listLoad{
  display: block;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.list h2{
  font-family: Oswald, sans-serif;
  margin: 1em;
}

li{
  margin: .5em;
  font-family: Lato, sans-serif;
}

@media (max-width:800px){
  body{
    font-size:12px;
  }

  .selection input {
    width:80%;
    box-sizing: border-box;
    border: 1px solid #078C26;
  }

  select{
    border:1px solid #078C26;
    width:80%
  }

  .pair{
    margin: 0 0 0.2em 20%;
  }

  .pair input{
    left:80px;
    height:10px;
    width:10px;
    top: 3px;
    border: 1px solid #078C26;
  }
  .choice{
    width:48%;
  }

  .list button{
    margin: 0 auto;
  }
}

@media (max-width:520px){

  main{
    display:block;
  }

  .shopper{
    width:100%;
    height:100px;
  }

  .about{
    width:70%;
    margin: 0 auto;
  }

  .selection{
    display:block;
  }

  .left,.right{
    width:80%;
  }

  .pair input{
    left: 120px;
  }

  .choice{
  height: 200px;
  }

  .choice img{
    height:100px;
    top:30px;
    left:3px;
  }

  .choice p{
    top:170px;
  }

  .finalrecipes{
    width:80%;
  }

  .finalrecipe{
    height:125px;
  }

  .finalrecipe img{
    height:100px;
  }

  .list{
    width:80%;
  }

  .choice h2, .finalrecipe h2{
    font-size: 1em;
  }

  .finalrecipe h2{
    height:100px;
  }

  .finalrecipe a{
    height:90px
  }
}